@model Personal.Models.HeaderModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<header class="d-flex flex-wrap justify-content-center py-1 mb-4 border-bottom">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <h2 class="mx-5">@Model.Title</h2>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="\" class="nav-link">@Localizer["Home"]</a></li>
        <li class="nav-item"><a href="\work" class="nav-link @Model.ActiveWork">@Localizer["Work"]</a></li>
        <li class="nav-item"><a href="\blog" class="nav-link @Model.ActiveBlog">@Localizer["Blog"]</a></li>
        <li class="nav-item"><a href="\curriculum" class="nav-link @Model.ActiveCV">@Localizer["CV"]</a></li>
    </ul>
</header>