@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@inject IViewLocalizer Localizer
@inject SignInManager<IdentityUser> SignInManager
@model Personal.Models.BlogIndexModel
@section Styles
    {
    <link rel="stylesheet" href="styles/blog.min.css">
}
    @section Head
    {
    @await Html.PartialAsync("_NavigationPartial", new HeaderModel {Title = Localizer["Title"], Active = "Blog"})
}
    @if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-action="New" class="btn btn-primary">New Post</a> ||
                <a asp-action="Admin" class="btn btn-info">Admin Post</a> ||
                <a asp-action="logoff" class="btn btn-danger">Logoff</a>
                <hr />
            </div>
        </div>
    </div>
}
<div class="container mt-4 my-2">
    <div class="row g-5">
        <div class="col-md-8">
            @foreach (var entrada in Model.Entradas) //filter
            {
                <article>
                    <h2>@entrada.Titulo</h2>
                    <p>
                        <a href="/Blog/Entrada/@entrada.Id">@entrada.Fecha.ToLongDateString()</a> |
                        @foreach (var tag in entrada.Etiquetas.Split(";"))
                        {
                            <span class="badge bg-primary">@tag</span>
                        }
                    </p>
                    <p>
                        @Html.Raw(entrada.Contenido)
                    </p>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <p>
                            <a href="/blog/edit/@entrada.Id" class="link-success">Editar</a> |
                            <a href="/blog/delete/@entrada.Id" class="link-danger">Eliminar</a>
                        </p>
                    }
                </article>
                <hr />
            }
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item @(Model.DisableBack ? "disabled" : "")">
                        <a class="page-link" href="#" aria-disabled="@Model.DisableBack.ToString().ToLower()">@Localizer["Prev"]</a>
                    </li>

                    @for (int pageNumber = 1; pageNumber <= Personal.Controllers.BlogController.TotalPages; pageNumber++)
                    {
                        if (pageNumber == Model.CurrentPage)
                        {
                            <li class="page-item active" aria-current="page"><span class="page-link">@pageNumber</span></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/Blog/Index/@pageNumber">@pageNumber</a></li>
                        }
                    }
                    <li class="page-item @(Model.DisableFoward ? "disabled" : "")">
                        <a class="page-link" href="#" aria-disabled="@Model.DisableFoward.ToString().ToLower()">@Localizer["Next"]</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">@Localizer["About"]</h4>
                    <p class="mb-0">@Localizer["Description"]</p>
                </div>
                <div class="p-4">
                    <h4 class="fst-italic">@Localizer["Archive"]</h4>
                    <ol class="list-unstyled mb-0">
                        @foreach (var year in Model.Archivo) //filter
                        {
                            <li><a href="/blog/archive/@year.Key">@year.Value</a></li>
                        }
                    </ol>
                </div>
                <div class="p-4">
                    <h4 class="fst-italic">@Localizer["Tags"]</h4>
                    <ol class="list-unstyled mb-0">
                        @foreach (var tag in Model.Etiquetas) //filter
                        {
                            <li><a href="/blog/tags/@tag.Name">@tag.Name</a></li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>