@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section Head
{
    @await Html.PartialAsync("_NavigationPartial", new HeaderModel {Title = Localizer["Title"], Active = "CV"})
}
<div class="container my-5">
    <div>
        <p class="lead">Work Experience.</p>
    </div>
    <hr />
    <div class="col-11">
         <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@Localizer["JobName5"]</h3>
                <div class="subheading mb-3"><a href="https://hexaware.com/">Hexaware</a></div>                               
                <p>@Localizer["JobDescription5"]</p>
                <p>
                    <strong>@Localizer["Stack"]: </strong>
                    @*TODO: create a foreach, save on a database, auto render this tags*@
                    <span class="badge bg-primary">.NET Framework</span>
                    <span class="badge bg-primary">ASP.NET</span>
                    <span class="badge bg-primary">C#</span>
                    <span class="badge bg-primary">Windows Forms</span>
                    <span class="badge bg-success">SQL Server</span>
                    <span class="badge bg-danger">TestCafe</span>
                    <span class="badge bg-danger">MSTest2</span>
                    <span class="badge bg-warning text-dark">TypeScript</span>                    
                    <span class="badge bg-light text-dark">npm</span>
                    <span class="badge bg-light text-dark">jenkins</span>
                    <span class="badge bg-light text-dark">jira</span>
                    <span class="badge bg-info">AWS</span>
                    <span class="badge bg-dark">Windows OS</span>
                    <span class="badge bg-dark">Github</span>
                </p>               
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@Localizer["JobDate5"]</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@Localizer["JobName4"]</h3>
                <div class="subheading mb-3"><a href="https://dextratech.com/">Dextra technologies a Deloitte Business</a></div>
                <p>@Localizer["JobDescription4"]</p>
                <p>
                    <strong>@Localizer["Stack"]: </strong>
                    <span class="badge bg-primary">.NET Framework</span>
                    <span class="badge bg-primary">ASP.NET</span>
                    <span class="badge bg-primary">C#</span>
                    <span class="badge bg-success">SQL Server</span>
                    <span class="badge bg-warning text-dark">TypeScript</span>
                    <span class="badge bg-warning text-dark">SCSS</span>
                    <span class="badge bg-light text-dark">jQuery</span>
                    <span class="badge bg-light text-dark">bulma</span>
                    <span class="badge bg-light text-dark">gulp</span>
                    <span class="badge bg-light text-dark">npm</span>
                    <span class="badge bg-info">Sitecore</span>
                    <span class="badge bg-info">Solr</span>
                    <span class="badge bg-dark">Windows OS</span>
                    <span class="badge bg-dark">bitbucket</span>
                </p>
                <div class="col">
                    <a href="~/assets/texas_screenshoot.png">
                        <img src="~/assets/texas_screenshoot_thumb.png" class="img-thumbnail" alt="Education Technology by Texas Instruments">
                    </a>
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@Localizer["JobDate4"]</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@Localizer["JobName3"]</h3>
                <div class="subheading mb-3"><a href="https://www.aguascalientes.gob.mx/SSP">Secretaría de Seguridad Pública Estado de Aguascalientes</a></div>
                <p>@Localizer["JobDescription3"]</p>
                <p>
                    <strong>@Localizer["Stack"]: </strong>
                    <span class="badge bg-primary">.NET</span>
                    <span class="badge bg-primary">ASP.NET MVC</span>
                    <span class="badge bg-primary">C#</span>
                    <span class="badge bg-primary">WPF</span>
                    <span class="badge bg-success">SQL Server</span>
                    <span class="badge bg-warning text-dark">TypeScript</span>
                    <span class="badge bg-warning text-dark">CSS</span>
                    <span class="badge bg-light text-dark">chart.js</span>
                    <span class="badge bg-light text-dark">bootstrap 5</span>
                    <span class="badge bg-info">DigitalPersona</span>
                    <span class="badge bg-info">Tesseract</span>
                    <span class="badge bg-dark">Debian</span>
                    <span class="badge bg-dark">Github</span>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@Localizer["JobDate3"]</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@Localizer["JobName2"]</h3>
                <div class="subheading mb-3"><a href="https://repos.mx">Repos Software</a></div>
                <p>@Localizer["JobDescription2"]</p>
                <p>
                    <strong>@Localizer["Stack"]: </strong>
                    <span class="badge bg-primary">.NET</span>
                    <span class="badge bg-primary">ASP.NET MVC</span>
                    <span class="badge bg-primary">WebForms</span>
                    <span class="badge bg-primary">WPF</span>
                    <span class="badge bg-primary">C#</span>
                    <span class="badge bg-danger">Azure</span>
                    <span class="badge bg-danger">MSTest2</span>
                    <span class="badge bg-success">SQL Server</span>
                    <span class="badge bg-success">SQLite</span>
                    <span class="badge bg-warning text-dark">TypeScript</span>
                    <span class="badge bg-warning text-dark">CSS</span>
                    <span class="badge bg-light text-dark">GraphQL</span>
                    <span class="badge bg-light text-dark">chart.js</span>
                    <span class="badge bg-light text-dark">bootstrap 5</span>
                    <span class="badge bg-info">DigitalPersona</span>
                    <span class="badge bg-info">bouncyCastle</span>
                    <span class="badge bg-info">SignalR</span>
                    <span class="badge bg-info">Xamarin</span>
                    <span class="badge bg-dark">Windows</span>
                    <span class="badge bg-dark">Android</span>
                    <span class="badge bg-dark">Github</span>
                    <span class="badge bg-dark">TeamFundation</span>
                </p>
                <div class="col">
                    <a href="~/assets/repos-homepage.jpeg"><img src="/assets/repos-homepage_Thumb.jpeg" class="img-thumbnail" alt="Repos.mx HomePage"></a>
                    <a href="~/assets/repos-dashboard.jpeg"><img src="/assets/repos-dashboard_Thumb.jpeg" class="img-thumbnail" alt="Repos Online Daskboard"></a>
                    <img src="https://via.placeholder.com/150" class="img-thumbnail" alt="Financiera">
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@Localizer["JobDate2"]</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">@Localizer["JobName1"]</h3>
                <div class="subheading mb-3"><a href="https://www.inm.gob.mx/">Instituto Nacional de Migración</a></div>
                <p>@Localizer["JobDescription1"]</p>
                <p>
                    <strong>@Localizer["Stack"]: </strong>
                    <span class="badge bg-primary">.NET Framework</span>
                    <span class="badge bg-primary">ASP.NET</span>
                    <span class="badge bg-primary">WebForms</span>
                    <span class="badge bg-primary">WPF</span>
                    <span class="badge bg-primary">C#</span>
                    <span class="badge bg-danger">MSTest</span>
                    <span class="badge bg-danger">ClickOnce</span>
                    <span class="badge bg-success">SQL Server</span>
                    <span class="badge bg-warning text-dark">JavaScript</span>
                    <span class="badge bg-warning text-dark">CSS</span>
                    <span class="badge bg-info">CrossMatch</span>
                    <span class="badge bg-info">SignalR</span>
                    <span class="badge bg-dark">Windows Server</span>
                    <span class="badge bg-dark">TeamFundation</span>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@Localizer["JobDate1"]</span></div>
        </div>
    </div>
    <div class="col-1"></div>
</div>